{% extends 'bootstrap/base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block head %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
{% endblock %}
{% block title %}
	Homepage	
{% endblock %}

{% block content %}
	<h3 style="margin-left: 18px">Welcome {{ user.fnm }}!</h3><br>
	
	{% with msg = get_flashed_messages() %}
		{% if msg %}
			<div class="flashes" style="margin-left: 18px; color: green">
				{% for m in msg %}
				<div class="message_flash">
					{{ m }}
				</div>
				{% endfor %}
			</div>
		{% endif %}
	{% endwith%}
	
	<div class="active-cyan-4 mb-4 d-inline-block" style="margin-left:18px">
		<a href="{{url_for('search')}}" class="card-link float-left"> Search </a>
	</div>
	
	<br />
	{% if user.perm %}
		<button type="button" class="btn btn-primary btn-sm font-weight-bold" style="margin-left:18px;" data-toggle="modal" data-target="#create_project">Create Project</button>
		<form class="modal" id="create_project" method="post" action="" style="max-width: 25rem; margin: auto;">
			<div class="modal-content" style="margin: auto;">
				<div class="modal-header">
					<h3 class="modal-title"> Project Details </h3><br>
				</div>
				<div class="modal-body">
					{{ wtf.quick_form(new_proj) }}
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary btn-sm font-weight-bold float-right" name="action" value='create0'> 
						Create
					</button>
					<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
						Cancel
					</button>
				</div>
			</div>
		</form>
	{% endif %}
	
	<hr>
	<div class="container-fluid">
		{% for p in user.projs %}
			<div class="card border-primary mb-3 d-inline-block" style="max-height:20rem; margin-left:5px; max-width:20rem;">
				<div class="card-header clearfix">
					<a href="{{url_for('project', id=p.id)}}" class="card-link float-left"> {{ p.name }} </a>
					{% if user.perm %}	
						<form method="post" onSubmit="return confirm('Are you sure you want to permanently delete this Project?');">
							<button type="submit" class="btn btn-danger btn-sm font-weight-bold float-right"> 
								<input id="csrf_token" name="csrf_token" type="hidden" value="WQRJHQOIWERYJHASDFH"></input>
								<input name="action" value="delete{{p.id}}" type="hidden"></input>
								Delete
							</button>
						</form>
					{% endif %}
				</div>
				<div class="card-body text-primary">
					<p class="card-text mb-2 text-muted">
						{{ p.description }}
					</p>
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: {{p.progress.percent_complete}}%;">
							{{ p.progress.percent_complete }}%
						</div>
					</div>
					<div class="card-text text-danger">
						Overdue Tasks: {{ p.progress.overdue_tasks }}
					</div>
					<a href="#" class="card-link"> {{ p.src_code_link }}</a>
				</div>
			</div>
		{% endfor %}
	</div>
	
{% endblock %}

{% block script %}
	{{ super() }}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% endblock %}