{% extends 'bootstrap/base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block head %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
{% endblock %}
{% block title %}
	Login
{% endblock %}

{% block content %}
    <div style="margin:auto; width:fit-content;">
		<h3> Project Managment System (PMS) </h3>
		{% if err %}
			<div >
			<p class="error" style="color: red; margin-left: 10px;"> <strong>*</strong> {{ err }}
			</div>
		{% endif %}
		<div class='col-md-offset-3' style="width:18rem; margin:auto">
			<form class="form-group" method="post" >
				<div>
					{{ wtf.quick_form(form) }}
					<button type="submit" class="btn btn-primary btn-sm font-weight-bold" name="action" value='signin' style='width:18rem'>		
						Sign In
					</button>
				</div>
			</form>
			<hr style='width:18rem; margin:left'>
				<form class="form-group" method="post" >
					<button type="submit" class="btn btn-success btn-md font-weight-bold" name="action" value='signup' style='width:18rem'>
						Sign Up
					</button>
				</form>
			</div>
	</div>
{% endblock %}

{% block script %}
	{{ super() }}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% endblock %}

<!-- {{ wtf.form_field(form.username) }} -->
		
