{% extends 'bootstrap/base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block head %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	{% block script %}
		<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	{% endblock %}


{% endblock %}

{% block title %}
	{{ proj.name }}	
{% endblock %}

{% block content %}
	<h2 style="margin-left: 18px"> {{ proj.name }} </h2>
	{% if err %}
		{% for e in err %}
			<div >
			<p class="error" style="color: red; margin-left: 10px;"> <strong>*</strong> {{ e }}
			</div>
		{% endfor %}
	{% endif %}
	
	{% with msg = get_flashed_messages() %}
		{% if msg %}
			<div class="flashes" style="margin-left: 18px; color: green">
				{% for m in msg %}
				<div class="message_flash">
					{{ m }}
				</div>
				{% endfor %}
			</div>
		{% endif %}
	{% endwith%}
	
	<br>
	<h4 style="margin-left: 18px"> Available Tasks: </h4>
	<div class="container-fuild">
		{% for t in tasks %}
			<div class="card border-primary mb-3 d-inline-block" style="max-height:25rem; margin-left:18px; max-width:18rem;">
				<div class="card-header clearfix">
					<div class="card-text float-left"> 
						{{ t.name }} 
					</div>
					{% if owner %}
						<form method="post" style="float:right" onSubmit="return confirm('Are you sure you want to permanently delete this task?');">
							<button type="submit" class="btn btn-danger btn-sm font-weight-bold">
								<input id="csrf_token" name="csrf_token" type="hidden" value="IUYQOWIERHKJASHF"></input>
								<input name="action" value="deltask{{t.id}}" type="hidden"></input>
								Delete
							</button>
						</form>
					
						{% if not t.contributor %}
							<form class="" method="post" action="">
								<button id="assign123" value="notetid{{t.id}}" type="submit" class="btn btn-primary btn-sm font-weight-bold float-right" data-toggle="modal" data-target="#assign_task" style="margin-right:5px"> 
									Assign
								</button>
								<div class="modal" id="assign_task" style="max-width: 25rem; margin: auto;">
									<div class="modal-content" style="margin: auto;">
										<div class="modal-header">
											Assign task to User
										</div>
										<div class="modal-body">
											{{ wtf.quick_form(assign_task) }}
										</div>
										<div class="modal-footer">
											<button type="submit" class="btn btn-primary btn-sm font-weight-bold float-right" name="action" value="asstask"> 
												Assign
											</button>
											<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
												Cancel
											</button>
										</div>
									</div>
								</div>
							</form>
						{% endif %}
					{% endif %}
				</div>
				<div class="card-body text-primary">
					<p class="card-text">
						Assigned to: 
						{% if t.contributor %}
							{{ t.contributor }}
						{% endif %}
					</p>
					<p class="card-text mb-2 text-muted">
						{{ t.description }}
					</p>
					<p class="card-text text-danger">
						Due on: {{ t.deadline }}
					</p>
					<p class="card-text text-muted">
						Requires: {{ t.skill }}
					</p>
				</div>
				<div class="card-footer">
					{% if t.is_complete %}
						<h6 class="text-success float-left" style="line-height: inherit;">
							Completed
						</h6>
						<form>
							<button type="submit" style="padding: 0; border: none; background: none; margin-left: auto; display: block;" formmethod="post">
								<i class="fas fa-business-time fa-2x" style="color:orange"></i>
								<input id="csrf_token" name="csrf_token" type="hidden" value="ZXVCDYBZGRSYRHD"></input>
								<input name="action" value="altprog{{t.id}}" type="hidden"></input>
							</button>
						</form>
					{% else %}
						<h6 class="text-muted float-left" style="line-height: inherit;">
							In Progress
						</h6>
						<form>
							<button type="submit" style="padding: 0; border: none; background: none; margin-left: auto; display: block;" formmethod="post">
								<i class="fas fa-check fa-2x" style="color:green;"></i>
								<input id="csrf_token" name="csrf_token" type="hidden" value="MJZDFIYOERNASDFH"></input>
								<input name="action" value="altcomp{{t.id}}" type="hidden"></input>
							</button>
						</form>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
	{% if owner %}
	<form class="" method="post" action="">
		<button type="button" class="btn btn-primary btn-sm font-weight-bold" style="margin-left:18px;" data-toggle="modal" data-target="#add_task">Add Task</button>
		<div class="modal" id="add_task" style="max-width: 25rem; margin: auto;">
			<div class="modal-content" style="margin: auto;">
				<div class="modal-header">
					<h3 class="modal-title"> Task Details </h3><br>
				</div>
				<div class="modal-body">
					{{ wtf.quick_form(new_task) }}
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary btn-sm font-weight-bold float-right" name="action" value='addtask0' > 
						Add
					</button>
					<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
						Cancel
					</button>
				</div>
			</div>
		</div>
	</form>
	{% endif %}
	<hr>
	<h5 style="margin-left: 22px">Contributors: </h5>
	<div style="display:inline-block; margin-left: 22px;">
		{% if owner%}
		{% for c in contribs %}
			<div style="display: flex;">
				<div style="margin-right: 20px">
					{% if ratings[c.id]/2 > 0 %}
						<i class="fas fa-star" style="color:orange"></i>
					{% else %}
						<i class="far fa-star"></i>
					{% endif %}
					{% if ratings[c.id]/2 > 1 %}
						<i class="fas fa-star" style="color:orange"></i>
					{% else %}
						<i class="far fa-star"></i>
					{% endif %}
					{% if ratings[c.id]/2 > 2 %}
						<i class="fas fa-star" style="color:orange"></i>
					{% else %}
						<i class="far fa-star"></i>
					{% endif %}
					{% if ratings[c.id]/2 > 3 %}
						<i class="fas fa-star" style="color:orange"></i>
					{% else %}
						<i class="far fa-star"></i>
					{% endif %}
					{% if ratings[c.id]/2 > 4 %}
						<i class="fas fa-star" style="color:orange"></i>
					{% else %}
						<i class="far fa-star"></i>
					{% endif %}
				</div>
				<h6 style="margin-right: 20px; line-height: inherit;">{{c.lnm}}, {{c.fnm}}</h6>
				<form method="post" style="float:left; " onSubmit="return confirm('Are you sure you want to permanently remove this Contributor from this project?');">
					<button type="submit" style="padding: 0; border: none; background: none; margin-right: 20px;">
						<i class="fas fa-user-times" style="color:red"></i>
						<input id="csrf_token" name="csrf_token" type="hidden" value="MNZXCIVUYAOIJHMZCXFHSDF"></input>
						<input name="action" value="rmcontr{{c.id}}" type="hidden"></input>
					</button>
				</form>
				<form method="post"> 
					<button type="submit" id="pick_contrib" style="padding: 0; border: none; background: none;"  data-toggle="modal" data-target="#eval_contrib_form" value="notecid{{c.id}}">
						<i class="fab fa-wpforms"></i>
						<input id="csrf_token" name="csrf_token" type="hidden" value="MZXNLAKSDHFLKJERUIY"></input>
						<input name="action" value="notecid{{c.id}}" type="hidden"></input>
					</button>
					
					<div class="modal" id="eval_contrib_form" style="max-width: 25rem; margin: auto;">
						<div class="modal-content" style="margin: auto;">
							<div class="modal-header">
								Contributor Evaluation Form
							</div>
							<div class="modal-body">
								{{ wtf.quick_form(rate_contrib) }}
							</div>
							<div class="modal-footer">
								<button type="submit" id="evalcon" class="btn btn-primary btn-sm font-weight-bold float-right" name="action" value="evalcon"> 
									Submit
								</button>
								<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
									Cancel
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		{% endfor %}
			<br>
		{% endif %}
	</div>
	{% if owner %}
		<form class="clearfix" method="post" action="">
			<div>
				<div class="float-left">
					{{ wtf.quick_form(add_contrib) }}
				</div>	
				<button type="submit" class="btn btn-primary btn-sm font-weight-bold float-left" style="margin-left: 4px; height: 2.3rem" name="action" value='addcont'> 
					Add Contributor
				</button>
			</div>
		</form>
	{% endif %}
	
		<script>
			$(document).ready(function() {
				$("#assign123").click(function(e) {
					$.ajax({
						type: "POST",
						url: window.location.pathname,
						data: {
							action: $("#assign123").val()
						}
					});
				});
			});
			
			$(document).ready(function() {
				$("#pick_contrib").click(function(e) {
					$.ajax({
						type: "POST",
						url: window.location.pathname,
						data: {
							action: $("#pick_contrib").val()
						}
					});
				});
			});
		</script>
{% endblock %}